<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HealthCheckPage</title>
<style>
body, html {
  height: 100%;
  margin: 30;
}
h1 {text-align: center;}

.bg {
  /* The image used */
  background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>


<div class="bg">

    <h1 style="color:white;">This page is created for Determing Application health and act accordingly</h1>
</div>


</body>
</html>
